* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.sec_1 {
    width: 100%;
    height: 100vh;
    background: url(../img/da.png) center no-repeat;
    background-size: cover;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

a {
    text-decoration: none;
}

.nav {
    width: 116%;
    padding: 51px;
}

.nav a {
    margin-left: 63px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.2s ease color;
}

.sidebar_1 {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 150px;
    background: rgba(51, 51, 51, 0.75);
}

.sidebar_1 p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
    transform: rotate(-90deg);
}

.nav p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* white */
    color: #FFFFFF;
    margin-top: -21px;
}

.nav a {
    position: relative;
    color: #FFFFFF;
    /*задаём цвет ссылки*/
    cursor: pointer;
    line-height: 1;
    /*задаём высоту строки*/
    text-decoration: none;
    /*убираем подчёркивание*/
}

.nav a:after {
    display: block;
    position: absolute;
    left: 0;
    /*изменить на right:0;, чтобы изменить направление подчёркивания */
    width: 0;
    /*задаём длинну линии до наведения курсора*/
    height: 2px;
    /*задаём ширину линии*/
    background-color: #D1A954;
    /*задаём цвет линии*/
    content: "";
    transition: width 0.3s ease-out;
    /*задаём время анимации*/
}

.nav a:hover:after,
.nav a:focus:after {
    width: 100%;
    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.df {
    margin-left: 111px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /* white */
    color: #FFFFFF;
    margin-top: -21px;
}

.hr_1 {
    margin-top: 182%;
    width: 70px;
    height: 0px;
    border: 1px solid #C4C4C4;
    transform: rotate(90deg);
    margin-left: 39px;
}

.dfv {
    margin-top: 63px;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 34px;
}

.dfv i {
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}

.dfv i:hover {
    color: #D1A954;
}

.header_content h1 {
    margin-top: 202px;
    margin-left: 108px;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* white */
    color: #FFFFFF;
}

.header_content p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    margin-left: 110px;
    color: #FFFFFF;
}

.btn {
    outline: none;
    margin-left: 108px;
    margin-top: 49px;
    border: 0px;
    width: 160px;
    height: 50px;
    background: #D1A954;
    transition: 0.4s;
}

.btn a {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* white */
    color: #FFFFFF;
}

.btn:hover {
    background-color: darkgrey;
}

.jh {
    margin-top: -352px;
    margin-left: 73%;
}

.sec_2 {
    height: 100vh;
    background: #333333;
}

.gjf {
    padding: 150px;
    font-family: ' Open Sans Condensed';
    font-style: normal;
    font-weight: 30;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* white */
    color: #FFFFFF;
}

.gjf b {
    color: #D1A954;
}

.cz {
    margin-top: -65px;
}

.cz h4 {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* white */
    color: #FFFFFF;
}

.cz p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */
    color: #FFFFFF;
}

.cz_2 h2 {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* white */
    color: #FFFFFF;
    margin-top: -22%;
    margin-left: 42%;
}

.cz_2 img {
    margin-top: 31px;
    margin-left: 41%;
}

b {
    color: #D1A954;
}

.cz_2 p {
    margin-left: 42%;
}

.cz_2 p {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    /* white */
    color: #FFFFFF;
}

.vzx {
    margin-top: -200px;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    /* gold */
    color: #D1A954;
}

.lhg {
    margin-left: 143px;
}

.lhg img {
    width: 442px;
    margin-left: -5px;
    height: 550px;
}

.sec7 {
    background-color: #333333;
}